__pycache__
.deps
*.o
*~
aclocal.m4
autom4te.cache
autoscan*.log
compile
config.log
config.status
configure
configure.lineno
depcomp
gpg
install-sh
Makefile
Makefile.in
missing
pinentry-tty
pinentry-tty-wrapper
